body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* prevent scroll */
  overflow: hidden;
}

canvas {
  /*DIN A0@150dpi:  	46.8in x 33.1 * 150dpi = 7020px x 4965px*/
  /* width: 100%;
  height: 100%; */
  /* no-scroll */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* prevent swipe right to go back */
  overscroll-behavior: contain;
  /* prevent pinch zoom */
  touch-action: none;
  /* prevent text selection */
  user-select: none;
  cursor: crosshair;
}

.stats {
  left: 5px;
  bottom: 5px;
  font-size: xx-small;
  position: fixed;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  user-select: none;
}
.stats p {
  padding-inline: 15px;
}
.stats .cycle::before {
  content: "cycle: ";
}
.stats .fps::after {
  content: " fps";
}
.stats button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: xx-small;
  cursor: pointer;
  padding-inline: 15px;
}
