.gui * {
  /* prevent selection */
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  --topbar-height: 40px;
  --ui-bg-color: rgba(15, 15, 15, 0.75);
  --ui-separator-color: rgba(100, 100, 100, 1);
  --ui-text-color-0: white;
  --ui-text-color-1: rgb(200, 200, 200);
  --ui-text-color-2: rgb(150, 150, 150);
  --ui-highlight-color: #005295bf;
  --ui-padding: 25px;
  --ui-border-radius: 8px;
  --ui-button-border-radius: 5px;
  --ui-container-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  --ui-container-blur: 25px;
}

.topbar {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--topbar-height);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--ui-bg-color);
  z-index: 5;
  backdrop-filter: blur(var(--ui-container-blur));
  box-shadow: var(--ui-container-shadow);
}
.topbar,
.menu_popup {
  button {
    color: var(--ui-text-color-0);
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
    padding: 5px 10px 5px 10px;
  }
}
.topbar,
.menu_popup {
  button:hover {
    color: white;
    background-color: var(--ui-highlight-color);
    border-radius: var(--ui-button-border-radius);
    box-shadow: none;
    text-shadow: none;
    border: none;
  }
}
.topbar,
.menu_popup {
  button:disabled {
    color: gray;
    background-color: transparent;
  }
}

.menu_popup button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-width: 100px;
}

.topbar #logo {
  width: 70px;
  padding: 5px 35px 5px 15px;
}

.menu_popup {
  border-radius: 0px 0px var(--ui-border-radius) var(--ui-border-radius);
  visibility: hidden;
  position: fixed;
  top: var(--topbar-height);
  left: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--ui-bg-color);
  padding: 5px;
  z-index: 2;
}

.sidepanel {
  position: fixed;
  width: 20px;

  top: calc(var(--topbar-height));
  left: 0px;
  background-color: var(--ui-bg-color);
  backdrop-filter: blur(var(--ui-container-blur));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px 0px var(--ui-border-radius) 0px;
  z-index: 1;
}

.sidepanel.minimized {
  padding: 12px 15px 10px 15px; /*top right bottom left*/
  width: 20px;
  content: "...";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0px 0px var(--ui-border-radius) 0px;
  z-index: 1;
}
.sidepanel .icon {
  width: 32px;
  padding: 5px;
}
.sidepanel .icon:hover {
  background-color: var(--ui-highlight-color);
  border-radius: var(--ui-button-border-radius);
  box-shadow: none;
  text-shadow: none;
  border: none;
}

/* 
.icon svg > {
  width: 50px;
  fill: brown;
  stroke: brown;
  stroke-width: 2px;
} 
*/

.separator {
  position: fixed;
  width: 8px;
  background-color: var(--ui-separator-color);
  top: var(--topbar-height);
  height: calc(100% - var(--topbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: col-resize;
  user-select: none;
  z-index: 1;
  animation: fadeOut 250ms ease-out;
}
.separator-stop {
  width: 3px;
  height: 3px;
  margin: 1px;
  border-radius: 50%;
  background-color: rgb(180, 180, 180);
  animation: fadeOut 250ms ease-out;
}

.viewport-dragging-overlay {
  animation: fadeOut 2500ms ease-in-out;
  background-color: var(--ui-highlight-color);
}

.about_popup {
  position: fixed;
  top: calc(var(--topbar-height) + 15px);
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--ui-text-color-0);
  background-color: var(--ui-bg-color);
  border-radius: var(--ui-border-radius);
  padding: var(--ui-padding);
  cursor: default;
  backdrop-filter: blur(var(--ui-container-blur));

  /* animation when appearing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  animation: all 250ms ease-out;

  box-shadow: var(--ui-container-shadow);
  z-index: 10;
}
.about_popup h1 {
  font-size: 1em;
  margin: 0px;
}
.about_popup p {
  width: auto;
  max-width: 35vb;
  font-size: 0.8em;
  color: var(--ui-text-color-1);
  white-space: pre-line; /* respect newlines in text */
}
.about_popup .about_close {
  position: fixed;
  top: 9px;
  right: 9px;
  width: 18px;
}

/*
  --topbar-height: 40px;
  --ui-bg-color: rgba(15, 15, 15, 0.65);
  --ui-separator-color: rgba(100, 100, 100, 1);
  --ui-text-color: white;
  --ui-highlight-color: #005295bf;
  --ui-padding: 10px;
  --ui-border-radius: 8px;
  --ui-button-border-radius: 5px;
  --ui-container-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  --ui-container-blur: 10px;
  */
